body {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(49, 49, 255)
}

.container {
  width: 300px;
  height: 500x;
  background: whitesmoke;
  border-radius: 8px;
  padding: 10px;
}

h1 {
  color: white;
}